<html>
<head><title>ACTINIUM</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee Direction="right">
<u>Actinium</u></marquee></h1><h2>
<ul>
<li>Name-ACTINIUM
<li>Symbol-Ac
<li>Atomic Number-89
<li>Atomic Weight-227
<li>Density-10.07
<li>Status-Transition Metal
<li>Discoverer-Andre Debierne
<li>Country-France
<li>Date-1899
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>