<html>
<head><title>SILVER</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee direction="right">
<u>Silver</u></marquee></h1><h2>
<ul>
<li>Name-SILVER
<li>Latin Name-ARGENTUM
<li>Symbol-Ag
<li>Atomic Number-47
<li>Atomic Weight-108
<li>Density-10.50
<li>Status-Transition Metal
</ul><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>