<html>
<head><title>ALUMINIUM</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee direction="right"> 
<u>Aluminium</u></marquee></h1><h2>
<ul>
<li>Name-ALUMINIUM
<li>Symbol-Al
<li>Atomic Number-13
<li>Atomic Weight-27
<li>Density-2.70
<li>Status-Metal
<li>Discoverer-Hans Christian Oersted
<li>Country-Denmark
<li>Date-1825
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>