<html>
<head><title>AMERICIUM</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee Direction="right">
<u>Americium</u></marquee></h1><h2>
<ul>
<li>Name-AMERICIUM
<li>Symbol-Am
<li>Atomic Number-95
<li>Atomic Weight-243
<li>Density-13.67
<li>Status-Actinides
<li>Discoverer-G.T.Seaborg,R.A.James,L.O.Morgan,A.Ghiorso
<li>Country-U.S.A.
<li>Date-1945
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>