<html>
<head><title>ARSENIC</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee Direction="right">
<u>Arsenic</u></marquee></h1><h2>
<ul>
<li>Name-ARSENIC
<li>Symbol-As
<li>Atomic Number-33
<li>Atomic Weight-75
<li>Density-5.73
<li>Status-Non Metal
</ul><br><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>