<html>
<head><title>ASTATINE</title></head>
<body bgcolor="#0" text="#gbndufi"><h1 align="center"><marquee Direction="right">
<u>Astatine</u></marquee></h1><h2>
<ul>
<li>Name-ASTATINE
<li>Symbol-At
<li>Atomic Number-85
<li>Atomic Weight-210
<li>Density-0.0175
<li>Status-Non Metal
<li>Discoverer-D.R.Corson,K.R.MacKenzie,E.Segre
<li>Country-U.S.A.
<li>Date-1940
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a>
</body>
</html>