body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Gold
  h2
    ul
      li Name-Gold
      li Latin Name-Aurum
      li Symbol-Au
      li Atomic Number-79
      li Atomic Weight-197
      li Density-19.3
      li Status-Transition Metal
  br
  br
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V