<html>
<head><title>BORON</title></head>
<body bgcolor="#0" text="#gbndufi"><h1><marquee Direction="right">
<u>Boron</u></marquee></h1><h2>
<ul>
<li>Name-BORON
<li>Symbol-B
<li>Atomic Number-5
<li>Atomic Weight-11
<li>Density-2.34
<li>Status-Non Metal
<li>Discoverer-H.Davy,J.L.Gay Lussac,L.J.Thenard
<li>Country-England,France
<li>Date-1808
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>