<html>
<head><title>BARIUM</title></head>
<body bgcolor="#0" text="#gbndufi"><h1><marquee Direction="right">
<u>Barium</u></marquee></h1><h2>
<ul>
<li>Name-BARIUM
<li>Symbol-Ba
<li>Atomic Number-56
<li>Atomic Weight-137
<li>Density-3.5
<li>Status-Alkaline Earth Metal
<li>Discoverer-Sir Humphry Davy
<li>Country-England
<li>Date-1808
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>