<html>
<head><title>BERYLLIUM</title></head>
<body bgcolor="#0" text="#gbndufi"><h1><marquee Direction="right">
<u>Beryllium</u></marquee></h1><h2>
<ul>
<li>Name-BERYLLIUM
<li>Symbol-Be
<li>Atomic Number-4
<li>Atomic Weight-9
<li>Density-1.848
<li>Status-Alkaline Earth Metal
<li>Discoverer-Friedrich Wohler,A.A.Bussy
<li>Country-Germany,France
<li>Date-1828
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>