<html>
<head><title>BISMUTH</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Bismuth</u></marquee></h1><h2>
<ul>
<li>Name-BISMUTH
<li>Symbol-Bi
<li>Atomic Number-83
<li>Atomic Weight-209
<li>Density-9.747
<li>Status-Metal
</ul><br><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>
