<html>
<head><title>BERKELIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Berkelium</u></marquee></h1><h2>
<ul>
<li>Name-BERKELIUM
<li>Symbol-Bk
<li>Atomic Number-97
<li>Atomic Weight-245
<li>Density-14.0
<li>Status-Actinides
<li>Discoverer-G.T.Seaborg,S.G.Thompson,A.Ghiorso
<li>Country-U.S.A.
<li>Date-1949
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>