<html>
<head><title>BROMINE</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Bromine</u></marquee></h1><h2>
<ul>
<li>Name-BROMINE
<li>Symbol-Br
<li>Atomic Number-35
<li>Atomic Weight-80
<li>Density-3.12
<li>Status-Non Metal
<li>Discoverer-Antoine J.Balard,Carl J.Lowig
<li>Country-France,Germany
<li>Date-1826
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>