<html
<head><title>CARBON</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Carbon</u></marquee></h1><h2>
<ul>
<li>Name-CARBON
<li>Symbol-C
<li>Atomic Number-6
<li>Atomic Weight-12
<li>Density-2.25
<li>Status-Non Metal
</ul><br><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>