<html>
<head><title>CADMIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Cadmium</u></marquee></h1><h2>
<ul>
<li>Name-CADMIUM
<li>Symbol-Cd
<li>Atomic Number-48
<li>Atomic WEight-112
<li>Density-8.65
<li>Status-Metal
<li>Discoverer-Friedrich Stromeyer
<li>Country-Germany
<li>Date-1817
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>