<html>
<head><title>CERIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Cerium</u></marquee></h1><h2>
<ul>
<li>Name-CERIUM
<li>Symbol-Ce
<li>Atomic Number-58
<li>Atomic Weight-140
<li>Density-6.768
<li>Status-Lanthanides
<li>Discoverer-W.von Hisinger,J.Berzelius,M.Klaproth
<li>Country-Sweden,Germany
<li>Date-1803
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>