<html>
<head><title>CHLORINE</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Chlorine</u></marquee></h1><h2>
<ul>
<li>Name-CHLORINE
<li>Symbol-Cl
<li>Atomic Number-17
<li>Atomic Weight-35
<li>Density-0.00295
<li>Status-Non Metal
<li>Discoverer-Carl Wilhelm Scheele
<li>Country-Sweden
<li>Date-1774
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>