<html>
<head><title>COBALT</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Cobalt</u></marquee></h1><h2>
<ul>
<li>Name-COBALT
<li>Symbol-Co
<li>Atomic Number-27
<li>Atomic Weight-59
<li>Density-8.9
<li>Status-Transition Metal
<li>Discoverer-Georg Brandt
<li>Country-Sweden
<li>Date-1737
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body
</html>