<html>
<head><title>CHROMIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Chromium</u></marquee></h1><h2>
<ul>
<li>Name-CHROMIUM
<li>Symbol-Cr
<li>Atomic Number-24
<li>Atomic Weight-52
<li>Density-7.19
<li>Status-Transition Metal
<li>Discoverer-Louis Vauquelin
<li>Country-France
<li>Date-1797
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>