body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Caesium
  h2
    ul
      li Name-Caesium
      li Symbol-Cs
      li Atomic Number-55
      li Atomic Weight-133
      li Density-1.873
      li Status-Alkali Metal
      li Discoverer-Gustav Kirchhoff,Robert Bunsen
      li Country-Germany
      li Date-1860
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V