<html>
<head><title>CAESIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Caesium</u></marquee></h1><h2>
<ul>
<li>Name-CAESIUM
<li>Symbol-Cs
<li>Atomic Number-55
<li>Atomic Weight-133
<li>Density-1.873
<li>Status-Alkali Metal
<li>Discoverer-Gustav Kirchhoff,Robert Bunsen
<li>Country-Germany
<li>Date-1860
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>