body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Copper
  h2
    ul
      li Name-Copper
      li Latin Name-Cuprium
      li Symbol-Cu
      li Atomic Number-29
      li Atomic Weight-63
      li Density-8.96
      li Status-Transition Metal
  br
  br
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V