body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Dubium
  h2
    ul
      li Name-Dubium
      li Symbol-Db
      li Atomic Number-105
      li Atomic Weight-262
      li Status-Transition Metal
      li Discoverer-G.Flerov
      li Country-Russia
      li Date-1968
  br
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V