<html>
<head><title>DUBIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Dubium</u></marquee></h1><h2>
<ul>
<li>Name-DUBIUM
<li>Symbol-Db
<li>Atomic Number-105
<li>Atomic Weight-262
<li>Status-Transition Metal
<li>Discoverer-G.Flerov
<li>Country-Russia
<li>Date-1968
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>