body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Erbium
  h2
    ul
      li Name-Erbium
      li Symbol-Er
      li Atomic Number-68
      li Atomic Weight-167
      li Density-9.15
      li Status-Lanthanides
      li Discoverer-Carl Mosander
      li Country-Sweden
      li Date-1843
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V