body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Europium
  h2
    ul
      li Name-Europium
      li Symbol-Eu
      li Atomic Number-63
      li Atomic Weight-152
      li Density-5.245
      li Status-Lanthanides
      li Discoverer-Eugene Demacay
      li Country-France
      li Date-1901
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V