<html>
<head><title>EUROPIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Europium</u></marquee></h1><h2>
<ul>
<li>Name-EUROPIUM
<li>Symbol-Eu
<li>Atomic Number-63
<li>Atomic Weight-152
<li>Density-5.245
<li>Status-Lanthanides
<li>Discoverer-Eugene Demacay
<li>Country-France
<li>Date-1901
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>