body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Francium
  h2
    ul
      li Name-Francium
      li Symbol-Fr
      li Atomic Number-87
      li Atomic Weight-22
      li Status-Alkali Metal
      li Discoverer-Marguerite Perey
      li Country-France
      li Date-1939
  br
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V