<html>
<head><title>GALLIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Gallium</u></marquee></h1><h2>
<ul>
<li>Name-GALLIUM
<li>Symbol-Ga
<li>Atomic Number-31
<li>Atmic Weight-70
<li>Density-5.907
<li>Status-Metal
<li>Discoverer-Paul Emile Lecoq de Boisbaudran
<li>Country-France
<li>Date-1875
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>