<html>
<head><title>GADOLINIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Gadolinium</u></marquee></h1><h2>
<ul>
<li>Name-GADOLINIUM
<li>Symbol-Gd
<li>Atomic Number-64
<li>Atomic Weight-157.25
<li>Density-7.86
<li>Status-Lanthanides
<li>Discoverer-Jean de Marignac
<li>Country-Switzerland
<li>Date-1880
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>