<html>
<head><title>GERMANIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Germanium</u></marquee></h1><h2>
<ul>
<li>Name-GERMANIUM
<li>Symbol-Ge
<li>Atomic Number-32
<li>Atomic Weight-73
<li>Density-5.323
<li>Status-Metal
<li>Discoverer-Clemens Winkler
<li>Country-Germany
<li>Date-
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>