<html>
<head><title>HYDROGEN</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Hydrogen</u></marquee></h1><h2>
<ul>
<li>Name-HYDROGEN
<li>Symbol-H
<li>Atomic Number-1
<li>Atomic Weight-1
<li>Density-0.00008375
<li>Discoverer-Henry Cavendish
<li>Country-England
<li>Date-1766
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>