<html>
<head><title>HAFNIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Hafnium</u></marquee></h1><h2>
<ul>
<li>Name-HAFNIUM
<li>Symbol-Hf
<li>Atomic Number-72
<li>Atomic Weight-178
<li>Density-13.31
<li>Status-Transition Metal
<li>Discoverer-Dirk Coster,Georg von Hevesy
<li>Country-Denmark
<li>Date-1923
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>