<html>
<head><title>HOLMIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Holmium</u></marquee></h1><h2>
<ul>
<li>Name-HOLMIUM
<li>Symbol-Ho
<li>Atomic Number-67
<li>Atomic Weight-165
<li>Density-8.79
<li>Status-Lanthanides
<li>Discoverer-J.L.Soret
<li>Country-Switzerland
<li>Date-1878
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>