<html>
<head><title>HASSIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Hassium</u></marquee></h1><h2>
<lu>
<li>Name-HASSIUM
<li>Symbol-Hs
<li>Atomic Number-108
<li>Atomic Weight-269
<li>Status-Transition Metal
<li>Discoverer-P.Armbuster
<li>Country-Germany
<li>Date-1984
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>