<html>
<head><title>INDIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Indium</u></marquee></h1><h2>
<ul>
<li>Name-INDIUM
<li>Symbol-In
<li>Atomic Number-49
<li>Atomic Weight-115
<li>Density-7.31
<li>Status-Metal
<li>Discoverer-Ferdinand Reich,H.Richter
<li>Country-Germany
<li>Date-1863
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>