<html>
<head><title>IRIDIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Iridium</u></marquee></h1><h2>
<ul>
<li>Name-IRIDIUM
<li>Symbol-Ir
<li>Atomic Number-77
<li>Atomic Weight-192
<li>Density-22.65
<li>Status-Transition Metal
<li>Discoverer-Smithson Tennant
<li>Country-England
<li>Date-1804
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>