body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Iridium
  h2
    ul
      li Name-Iridium
      li Symbol-Ir
      li Atomic Number-77
      li Atomic Weight-192
      li Density-22.65
      li Status-Transition Metal
      li Discoverer-Smithson Tennant
      li Country-England
      li Date-1804
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V