<html>
<head><title>POTASSIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Potassium</u></marquee></h1><h2>
<ul>
<li>Name-POTASSIUM
<li>Latin Name-KALLIUM
<li>Symbol-K
<li>Atomic Number-19
<li>Atomic Weight-39
<li>Density-0.862
<li>Status-Alkali Metal
<li>Discoverer-Sir Humphry Davy
<li>Country-England
<li>Date-1807
</ul><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>