body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Potassium
  h2
    ul
      li Name-Potassium
      li Latin Name-Kallium
      li Symbol-K
      li Atomic Number-19
      li Atomic Weight-39
      li Density-0.862
      li Status-Alkali Metal
      li Discoverer-Sir Humphry Davy
      li Country-England
      li Date-1807
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V