<html>
<head><title>LITHIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Lithium</u></marquee></h1><h2>
<ul>
<li>Name-LITHIUM
<li>Symbol-Li
<li>Atomic Number-3
<li>Atomic Weight-7
<li>Density-0.534
<li>Status-Alkali Metal
<li>Discoverer-Johann Arfvedson
<li>Country-Sweden
<li>Date-1817
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>