<html>
<head><title>LAWERNCIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Lawrencium</u></marquee></h1><h2>
<ul>
<li>Name-LAWERNCIUM
<li>Symbol-Lr
<li>Atomic Number-103
<li>Atomic Weight-257
<li>Status-Actinides
<li>Discoverer-A.Ghiorso,T.Sikkeland,A.E.Larsh,R.M.Latimer
<li>Country-U.S.A.
<li>Date-1961
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>