<html>
<head><title>LUTETIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Lutetium</u></marquee></h1><h2>
<ul>
<li>Name-LUTETIUM
<li>Symbol-Lu
<li>Atomic Number-71
<li>Atomic Weight-175
<li>Density-9.849
<li>Status-Lanthanides
<li>Discoverer-Georges Urbain
<li>Country-France
<li>Date-1807
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>