<html>
<head><title>MENDELEVIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Mendelevium</u></marquee></h1><h2>
<ul>
<li>Name-MENDELEVIUM
<li>Symbol-Md
<li>Atomic Number-101
<li>Atomic Weight-256
<li>Status-Actinides
<li>Discoverer-G.T.Seaborg,A.Ghiorso,B.Harvey,G.R.Choppin,S.G.Thompson
<li>Country-U.S.A.
<li>Date-1955
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>