body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Manganese
  h2
    ul
      li Name-Manganese
      li Symbol-Mn
      li Atomic Number-25
      li Atomic Weight-55
      li Density-7.3
      li Status-Transition Metal
      li Discoverer-Johan Gahn
      li Country-Sweden
      li Date-1774
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V