<html>
<head><title>NITROGEN</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Nitrogen</u></marquee></h1><h2>
<ul>
<li>Name-NITROGEN
<li>Symbol-N
<li>Atomic Number-7
<li>Atomic Weight-14
<li>Density-0.001165
<li>Status-Non Metal
<li>Discoverer-Daniel Rutherford 
<li>Country-Scotland
<li>Date-1772
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>