<html>
<head><title>SODIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Sodium</u></marquee></h1><h2>
<ul>
<li>Name-SODIUM
<li>Latin Name-NATRIUM
<li>Symbol-Na
<li>Atomic Number-11
<li>Atomic Weight-21
<li>Density-0.971
<li>Status-Alkali Metal
<li>Discoverer-Sir Humphry Davy
<li>Country-England
<li>Date-1807
</ul><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>