<html>
<head><title>NIOBIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Niobium</u></marquee></h1><h2>
<ul>
<li>Name-NIOBIUM
<li>Symbol-Nb
<li>Atomic Number-41
<li>Atomic Weight-93
<li>Density-8.57
<li>Status-Transition Metal
<li>Discoverer-Charles Hatchett
<li>Country-England
<li>Date-1801
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>