<html>
<head><title>NOBELIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Nobelium</u></marquee></h1><h2>
<ul>
<li>Name-NOBELIUM
<li>Symbol-No
<li>Atomic Number-102
<li>Atomic Weight-254
<li>Status-Actinides
<li>Discoverer-A.Ghiorso,G.T.Seaborg,T.Sikkeland,J.R.Walton
<li>Country-U.S.A.
<li>Date-1958
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>