<html>
<head><title>NEPTUNIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Neptunium</u></marquee></h1><h2>
<ul>
<li>Name-NEPTUNIUM
<li>Symbol-Np
<li>Atomic Number-93
<li>Atomic Weight-237
<li>Density-20.25
<li>Status-Actinides
<li>Discoverer-E.M.McMillan,P.H.Abelson
<li>Country-U.S.A.
<li>Date-1940
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>
