<html>
<head><title>OXYGEN</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Oxygen</u></marquee></h1><h2>
<ul>
<li>Name-OXYGEN
<li>Symbol-O
<li>Atomic Number-8
<li>Atomic Weight-16
<li>Density-0.001332
<li>Status-Non Metal
<li>Discoverer-Joseph Priestley,Carl Wilhelm Scheele
<li>Country-England,Sweden
<li>Date-1774
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>