<html>
<head><title>OSMIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Osmium</u></marquee></h1><h2>
<ul>
<li>Name-OSMIUM
<li>Symbol-Os
<li>Atomic Number-76
<li>Atomic Weight-190
<li>Density-22.48
<li>Status-Transition Metal
<li>Discoverer-Smithson Tennant
<li>Country-England
<li>Date-1804
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>