<html>
<head><title>PROTOACTINIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Protoactinium</u></marquee></h1><h2>
<ul>
<li>Name-PROTOACTINIUM
<li>Symbol-Pa
<li>Atomic Number-91
<li>Atomic Weight-231
<li>Density-15.37
<li>Status-Actinides
<li>Discoverer-Otto Hahn,Lise Meitner,Frederick Soddy,John Cranston
<li>Country-Germany,England
<li>Date-1917
</ul><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>