<html>
<head><title>LEAD</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Lead</u></marquee></h1><h2>
<ul>
<li>Name-LEAD
<li>Latin Name-PLUMBUM
<li>Symbol-Pb
<li>Atomic Number-82
<li>Atomic Weight-207
<li>Density-11.35
<li>Status-Metal
</ul><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>