<html>
<head><title>PROMETHIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Promethium</u></marquee></h1><h2>
<ul>
<li>Name-PROMETHIUM
<li>Symbol-Pm
<li>Atomic Number-61
<li>Atomic Weight-145
<li>Density-7.22
<li>Status-Lanthanides
<li>Discoverer-J.A.Marinsky,Lawrence E.Glendenin,Charles D.Coryell
<li>Country-U.S.A.
<li>Date-1945
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>