body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Promethium
  h2
    ul
      li Name-Promethium
      li Symbol-Pm
      li Atomic Number-61
      li Atomic Weight-145
      li Density-7.22
      li Status-Lanthanides
      li Discoverer-J.A.Marinsky,Lawrence E.Glendenin,Charles D.Coryell
      li Country-U.S.A.
      li Date-1945
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V