<html>
<head><title>POLONIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Polonium</u></marquee></h1><h2>
<ul>
<li>Name-POLONIUM
<li>Symbol-Po
<li>Atomic Number-84
<li>Atomic Weight-209
<li>Density-9.24
<li>Status-Metal
<li>Discoverer-Pierre and Marie Curie
<li>Country-France
<li>Date-1898
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>