<html>
<head><title>PLATINUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Platinum</u></marquee></h1><h2>
<ul>
<li>Name-PLATINUM
<li>Symbol-Pt
<li>Atomic Number-78
<li>Atomic Weight-195
<li>Density-21.45
<li>Status-Transition Metal
<li>Discoverer-Julius Scaliger
<li>Country-Italy
<li>Date-1557
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>