<html>
<head><title>RADIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Radium</u></marquee></h1><h2>
<ul>
<li>Name-RADIUM
<li>Symbol-Ra
<li>Atomic Number-88
<li>Atomic Weight-226
<li>Density-5.0
<li>Status-Alkaline Earth Metal
<li>Discoverer-Pierre and Marie Curie
<li>Country-France
<li>Date-1898
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>