body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Rubidium
  h2
    ul
      li Name-Rubidium
      li Symbol-Rb
      li Atomic Number-37
      li Atomic Weight-85
      li Density-1.532
      li Status-Alkali Metal
      li Discoverer-R.Bunsen,G.Kirchhoff
      li Country-Germany
      li Date-1861
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V