<html>
<head><title>RHENIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Rhenium</u></marquee></h1><h2>
<ul>
<li>Name-RHENIUM
<li>Symbol-Re
<li>Atomic Number-75
<li>Atomic Weight-186
<li>Density-21.02
<li>Status-Transition Metal
<li>Discoverer-Walter Noddack,Ida Tacke,Otto Berg
<li>Country-Germany
<li>Date-1925
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>