<html>
<head><title>RUTHERFORDIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Rutherfordium</u></marquee></h1><h2>
<ul>
<li>Name-RUTHERFORDIUM
<li>Symbol-Rf
<li>Atomic Number-104
<li>Atomic Weight-261
<li>Status-Transition Metal
<li>Discoverer-G.Flerov,A.Ghiorso
<li>Country-Russia,U.S.A.
<li>Date-1964
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>