<html>
<head><title>RUTHENIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Ruthenium</u></marquee></h1><h2>
<ul>
<li>Name-RUTHENIUM
<li>Symbol-Ru
<li>Atomic Number-44
<li>Atomic Weight-101
<li>Density-12.41
<li>Status-Transition Metal
<li>Discoverer-Karl Klaus
<li>Country-Russia
<li>Date-1844
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>