<html>
<head><title>SULPHUR</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Sulphur</u></marquee></h1><h2>
<ul>
<li>Name-SULPHUR
<li>Symbol-S
<li>Atomic Number-16
<li>Atomic Weight-32
<li>Density-2.01
<li>Status-Non Metal
</ul><br><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>