<html>
<head><title>ANTIMONY</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Antimony</u></marquee></h1><h2>
<ul>
<li>Name-ANTIMONY
<li>Latin Name-STIBINE
<li>Symbol-Sb
<li>Atomic Number-51
<li>Atomic Weight-122
<li>Density-6.691
<li>Status-Metal
</ul><br><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>