<html>
<head><title>SEARBORGIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Searborgium</u></marquee></h1><h2>
<ul>
<li>Name-SEARBORGIUM
<li>Symbol-Sg
<li>Atomic Number-106
<li>Atomic Weight-263
<li>Status-Transition Metal
<li>Discoverer-G.Flerov,A.Ghiorso
<li>Country-Russia,U.S.A.
<li>Date-1974
</ul><br><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>