body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Searborgium
  h2
    ul
      li Name-Searborgium
      li Symbol-Sg
      li Atomic Number-106
      li Atomic Weight-263
      li Status-Transition Metal
      li Discoverer-G.Flerov,A.Ghiorso
      li Country-Russia,U.S.A.
      li Date-1974
  br
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V