<html>
<head><title>SAMARIUM</title>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Samarium</u></marquee></h1><h2>
<ul>
<li>Name-SAMARIUM
<li>Symbol-Sm
<li>Atomic Number-62
<li>Atomic Weight-150
<li>Density-7.49
<li>Status-Lanthanides
<li>Discoverer-Paul Emile Lecoq de Boisbaudran
<li>Country-France
<li>Date-1879
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>