<html>
<head><title>TANTALUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Tantalum</u></marquee></h1><h2>
<ul>
<li>Name-TANTALUM
<li>Symbol-Ta
<li>Atomic Number-73
<li>Atomic Weight-181
<li>Density-16.6
<li>Status-Transition Metal
<li>Discoverer-Anders Ekeberg
<li>Country-Sweden
<li>Date-1802
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>