body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Terbium
  h2
    ul
      li Name-Terbium
      li Symbol-Tb
      li Atomic Number-65
      li Atomic Weight-159
      li Density-8.25
      li Status-Lanthanides
      li Discoverer-Carl Mosander
      li Country-Sweden
      li Date-1843
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V