<html>
<head><title>TECHNETIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Technetium</u></marquee></h1><h2>
<ul>
<li>Name-TECHNETIUM
<li>Symbol-Tc
<li>Atomic Number-43
<li>Atomic Weight-99
<li>Density-11.50
<li>Status-Transition Metal
<li>Discoverer-Carlo Perrier,Emilio Segre
<li>Country-Italy
<li>Date-1937
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>