<html>
<head><title>TELLURIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Tellurium</u></marquee></h1><h2>
<ul>
<li>Name-TELLURIUM
<li>Symbol-Te
<li>Atomic Number-52
<li>Atomic Weight-128
<li>Density-6.24
<li>Status-Non Metal
<li>Discoverer-Franz Muller von Reichenstein
<li>Country-Romania
<li>Date-1782
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>