<html>
<head><title>TITANIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Titanium</u></marquee></h1><h2>
<ul>
<li>Name-TITANIUM
<li>Symbol-Ti
<li>Atomic Number-22
<li>Atomic Weight-48
<li>Density-4.507
<li>Status-Transition Metal
<li>Discoverer-William Gregor
<li>Country-England
<li>Date-1791
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>