body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Thallium
  h2
    ul
      li Name-Thallium
      li Symbol-Tl
      li Atomic Number-81
      li Atomic Weight-204
      li Density-11.85
      li Status-Metal
      li Discoverer-Sir William Crookes
      li Country-England
      li Date-1861
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V