body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Vanadium
  h2
    ul
      li Name-Vanadium
      li Symbol-V
      li Atomic Number-23
      li Atomic Weight-51
      li Density-6.1
      li Status-Transition Metal
      li Discoverer-Nils Sefstrom
      li Country-Sweden
      li Date-1830
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V