<html>
<head><title>TUNGSTEN</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Tungsten</u></marquee></h1><h2>
<ul>
<li>Name-TUNGSTEN
<li>Latin Name-WOLFRUM
<li>Symbol-W
<li>Atomic Number-74
<li>Atomic Weight-184
<li>Density-19.3
<li>Status-Transition Metal
<li>Discoverer-Fausto and Juan Jose de Elhuyar
<li>Country-Spain
<li>Date-1983
</ul><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>