body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Tungsten
  h2
    ul
      li Name-Tungsten
      li Latin Name-Wolfrum
      li Symbol-W
      li Atomic Number-74
      li Atomic Weight-184
      li Density-19.3
      li Status-Transition Metal
      li Discoverer-Fausto and Juan Jose de Elhuyar
      li Country-Spain
      li Date-1983
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V