<html>
<head><title>XENON</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Xenon</u></marquee></h1><h2>
<ul>
<li>Name-XENON
<li>Symbol-Xe
<li>Atomic Number-54
<li>Atomic Weight-131
<li>Density-0.005495
<li>Status-Noble Gas
<li>Discoverer-Sir William Ramsay,M.W.Travers
<li>Country-England
<li>Date-1898
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>