<html
<head><title>YTTRIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Yttrium</u></marquee></h1><h2>
<ul>
<li>Name-YTTRIUM
<li>Symbol-Y
<li>Atomic Number-39
<li>Atomic Weight-89
<li>Density-4.472
<li>Status-Transition Metal
<li>Discoverer-Johann Gadolin
<li>Country-Finland
<li>Date-1794
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>