body bgcolor="#C0C0C0"
  h1
    marquee direction="right"
      u Ytterbium
  h2
    ul
      li Name-Ytterbium
      li Symbol-Yb
      li Atomic Number-70
      li Atomic Weight-173
      li Density-6.959
      li Status-Lanthanides
      li Discoverer-Jean de Marignac
      li Country-Switzerland
      li Date-1878s
  br
  br
  br
  a href="#{root_path}" Home
  footer
    p align="right"
      | Team work by Sriram.K and Manoj Kumar.V