<html>
<head><title>YTTERBIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Ytterbium</u></marquee></h1><h2>
<ul>
<li>Name-YTTERBIUM
<li>Symbol-Yb
<li>Atomic Number-70
<li>Atomic Weight-173
<li>Density-6.959
<li>Status-Lanthanides
<li>Discoverer-Jean de Marignac
<li>Country-Switzerland
<li>Date-1878s
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>