<html>
<head><title>ZINC</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Zinc</u></marquee></h1><h2>
<ul>
<li>Name-ZINC
<li>Symbol-Zn
<li>Atomic Number-30
<li>Atomic Weight-65
<li>Density-7.133
<li>Status-Metal
<li>Discoverer-Andreas Marggraf
<li>Country-Germany
<li>Date-1746
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>