<html>
<head><title>ZIRCONIUM</title></head>
<body bgcolor="#000000" text="#gbndufi"><h1><marquee Direction="right">
<u>Zirconium</u></marquee></h1><h2>
<ul>
<li>Name-ZIRCONIUM
<li>Symbol-Zr
<li>Atomic Number-40
<li>Atomic Weight-91
<li>Density-6.506
<li>Status-Transition Metal
<li>Discoverer-Martin Klaproth
<li>Country-Germany
<li>Date-1789
</ul><br><br><br><a href="G:/SHIVA/Periodic.html">HOME</a></h2>
</body>
</html>